{{#extend "page"}}
{{#prepend "pageheader"}}
    <h2>Welcome Home</h2>
{{/prepend}}
{{#prepend "pagecontent"}}
    <p>Home is where the Heart is...</p>
{{/prepend}}
{{#prepend "pagefooter"}}
    <small>&copy; 2014</small>
{{/prepend}}
{{/extend}}