{{#block "contenthead"}}
        <div class="padded">
            <div class="row">
                <div class="three fifths bounceInRight animated">
                    <h1 class="zero museo-slab">Responsive Design Made Easy</h1>
                    <p class="quicksand">GroundworkCSS on Handlebars; Created and Maintained by <a href="http://twitter.com/partharamanujam" target="_blank">Partha Ramanujam</a></p>
                </div>
                <div class="two fifths align-right-ipad align-right-desktop flipInX animated">
                    <p class="quicksand">Get Started</p>
                    <p><a href="/layout-a" rel="next" class="green button">View Example Layouts </a></p>
                </div>
            </div>
        </div>
        <hr>
{{/block}}